<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
        <menu>
            <add id="Intexsoft_CartRule::first_menu" title="Module main" module="Intexsoft_CartRule" sortOrder="20" resource="Magento_Backend::content" />
            <add id="Intexsoft_CartRule::second_menu" title="Module Sub Menu" module="Intexsoft_CartRule" sortOrder="1" action="cartrule/employee" parent="Intexsoft_CartRule::first_menu" resource="Magento_Backend::content" />
        </menu>
</config>
